.about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.about-section {
  margin-top: 26px;
  background-color: rgb(221, 221, 221);
  z-index: 40;
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
  box-shadow: inset 0px 0px 100px rgba(0, 128, 128, 1);
  transition: box-shadow 1s, padding 1s;
}
.about-section:hover {
  box-shadow: inset 0px -600px 100px rgba(0, 128, 128, 1);
  padding: 30px 25px 30px 25px;
  .text {
    color: white;
  }
  .point {
    color: white;
  }
  .connect-text {
    color: white;
  }
  .mail-platform-image{
    content: url("../icons/mail.png"); 
  }
  .instagram-platform-image{
    content: url("../icons/instagram.png");
  }
  .linkedin-platform-image{
    content: url("../icons/linkedin.png");
  }
  .github-platform-image{
    content: url("../icons/github.png");
  }
}
.about-section:active {
  box-shadow: inset 0px 700px 100px rgba(255, 49, 49, 1);
  padding: 30px 20px 30px 20px;
}
.text {
  text-align: justify;
  font-size: 24px;
  color: rgb(19, 19, 20);
  margin-bottom: 20px;
  transition: color 1s;
}
.point {
  margin-bottom: 20px;
  transition: color 1s;
}
.connect-text {
  transition: color 1s;
}
.connecting-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-container {
  display: flex;
  column-gap: 10px;
}
.mail-platform-image,
.instagram-platform-image,
.linkedin-platform-image,
.github-platform-image {
  width: 20px;
  height: 20px;
}
.mail-platform,
.instagram-platform,
.linkedin-platform,
.github-platform {
  width: 27px;
  height: 27px;
  transition: width 0.15s, height 0.15s;
}
.mail-platform:hover,
.instagram-platform:hover,
.linkedin-platform:hover,
.github-platform:hover {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 600px) {
  .about-container {
    top: 40%;
    width: 85%;
  }
  .about-section {
    margin-top: 350px;
  }
  .text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .point {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .connect-text {
    font-size: 14px;
    font-weight: bold;
  }
  .mail-platform-image,
  .instagram-platform-image,
  .linkedin-platform-image,
  .github-platform-image {
    width: 20px;
    height: 20px;
  }
}