.logo-container2 {
  background-color: rgb(221, 221, 211);
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  margin: 0px 10px 0 10px;
}
.logo-icon-link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: viga;
  text-decoration: none;
}
.web-url {
  color: rgb(221, 221, 221);
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.4s;
}
.web-url:hover {
  color: white;
}
.web-builder-socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 110px;
}
.web-builder-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web-builder-logo {
  width: 60px;
  height: 40px;
  object-fit: fit;
  margin-right: 10px;
}
.credit-to {
  color: rgb(149, 149, 150);
  font-size: 20px;
  margin-right: 10px;
}
.credit-name {
  color: rgb(221, 221, 221);
  font-size: 20px;
  font-weight: bold;
}
.mail-platform,
.instagram-platform,
.linkedin-platform,
.github-platform {
  width: 27px;
  height: 27px;
  transition: width 0.15s, height 0.15s;
}
.mail-platform:hover,
.instagram-platform:hover,
.linkedin-platform:hover,
.github-platform:hover {
  width: 30px;
  height: 30px;
}
.copyright-statement {
  display: flex;
  color: rgb(149, 149, 150);
  justify-content: center;
  margin: 0px 0px 0px -550px;
  font-size: 12.8px;
}
@media screen and (max-width: 600px) {
  .logo-container2 {
    padding: 4px 4px 4px 4px;
  }
  .logo-container2 .logo-icon-link {
    font-size: 18px;
  }
  .web-url {
    font-size: 18px;
  }
  .web-builder-socials-container {
    margin-top: 200px;
  }
  .credit-to {
    font-size: 18px;
  }
  .credit-name {
    font-size: 18px;
  }
  .copyright-statement {
    margin: 0px 0px 0px -115px;
    font-size: 14px;
  }
}